<div>
<img class="profile_img" src="assets/img/profile.jpg" width="100" height="110">
<h3 class="floating prickly">Jagdish Tard</h3>
<button class="button-33" style="margin-top: 30px;">Home</button>
<button class="button-33">Education</button>
<button class="button-33">Skills</button>
<button class="button-33">Projects</button>
<button class="button-33">Certificates</button>
<button class="button-33" style="margin-right:10px">Resume</button>
<!--Email-->
<a href = "mailto:jdmanit@gmail.com" target="_blank"><img class="link_img"
    src="assets/img/mail.jpg"></a>

<!--Twitter-->
<a href = "https://twitter.com/Jagdish_1112288" target="_blank"><img class="link_img"
    src="assets/img/twitter.jpg"></a>
<!--linkedIn-->
<a href = "https://www.linkedin.com/in/jagdish-tard-7108b41b1/" target="_blank"><img class="link_img"
    src="assets/img/linkedin.jpg"></a>
<!--github-->
<a href = "https://github.com/jagdishchoudhary" target="_blank"><img class="link_img"
    src="assets/img/github.jpg"></a>

</div>